@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.home:hover{
    color: red;
}
.container{
    min-height: 72vh;
    background-color: black;
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('bg.jpg');
   background-size:contain;
   /* background-position:center; */
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
    width:fit-content;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color:whitesmoke;
    }
      .container{
        background-size: 100%;
        background-repeat: no-repeat;
       

    }
  }
  @media only screen and (max-width: 660px) {
    .songName{
        font-size: 0.8rem; 
        }
    .timestamp{
        font-size: 0.8rem;
    }
  }
  @media only screen and (max-width: 510px) {
    .songName{
        font-size: 0.8rem; 
        }
    .timestamp{
        font-size: 0.75rem;
    }
  }
  @media only screen and (max-width: 415px) {
    .songName{
        font-size: 0.7rem;
        margin: 15px; 
        }
    .timestamp{
        justify-content: space-evenly;
        font-size: 0.95rem;
    }
    .songlistplay{
        display:contents;
    }
  }
  @media only screen and (max-width: 285px){
    .songItem{
        height: 50px;
        width: 80%;
        display: flex;
        background-color: white;
        font-size: 0.1rem;
        color: black;
        /* margin: initial; */
        justify-content: space-around;
        align-items: center;
        border-radius: 34px;
  }
  .songItem img{
    width: 40px;
    margin: 0 23px;
    border-radius: 34px;
}
.timestamp{
    /* justify-content: center; */
    font-size: 0.75rem;
}
.songName{
    font-size: 0.6rem;
}
.container{
    background-size: 100%;
       background-repeat: no-repeat;
}
}

@media only screen and (max-width: 1285px){
    .container{
        min-height: 72vh;
        background-color: black;
        color: white;
       font-family: 'Varela Round', sans-serif;
       display: flex;
       margin: 23px auto;
       width: 70%;
       border-radius: 12px;
       padding: 34px;
       background-image: url('bg.jpg');
       background-size: 100%;
       background-repeat: no-repeat;
    
    }
    
}
@media only screen and (max-width: 415px){
    .icons{
        margin-top: 37px;
        font-size: xx-small; 
    }
    .masterSongName{
        font-size: small;
    }
}
@media only screen and (max-width: 905px){
    .icons{
        margin-top: 50px;
        font-size:small; 
    }
}
